@model IEnumerable<Evolita.Admin.Tokens.StrategyToken>
@{
    ViewBag.Title = "Strategies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h4>Manage Strategies</h4>
        <div class="toolbar">
            <a href="@Url.Action("Create", "Strategies")" class="btn btn-default"><i class="fa fa-file-o"></i> Create New</a>
        </div>        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-hover strategies-list">
            <thead>
                <tr>
                    <th style="width: 99%">Name</th>
                    <th>Owner</th>
                    <th>Modified On</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="3" class="text-center">No strategies yet. <a href="@Url.Action("Create", "Strategies")">Create</a> one now.</td></tr> 
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Edit", new { id = item.id })">@item.name</a></td>
                            <td class="text-nowrap">@item.owner</td>
                            <td class="text-nowrap">@item.last_modified.Value.ToString("dd/MM/yyyy HH:mm")</td>
                        </tr>
                    } 
                }
            </tbody>
        </table>
    </div>
</div>
